<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:value="${title}">KoLiving</title>
</head>
<body>
<div style="margin: 0px auto; width: 94%;max-width: 630px; background: #ffffff; border-style: none; box-sizing: border-box;">
    <div style="width: 100%; max-width: 630px; margin: 0 auto; clear: both; padding: 0; overflow: hidden;">
        <div style="padding-top: 0; padding-bottom: 0">
            <div style="overflow: hidden; margin: 0px auto; padding: 0px; width: 100%; max-width: 630px; clear: both;">
                <div style="line-height: 1.7; border-width: 0px; border: 0px; font-size: 14px;">
                    <div style="text-align: center;">
                        <div style="max-width: 630px; width: 100%; margin: 0px; vertical-align: top; padding: 15px 15px 15px 15px; box-sizing: border-box; display: inline-block;">
                            <div style="padding: 0 0; text-align: center; margin: 0px; width: 100%; box-sizing: border-box; clear: both;">
                                <div><h1><img th:src="${button-image-path}"/></h1></div>
                                <div style="margin-top: 30px;"><span style="font-size: 1.43em; font-weight: 500;" th:text="${subtitle}">아래 링크를 클릭하셔서 인증을 진행하세요</span></div>
                                <div style="margin-top: 30px;">
                                    <div th:style="'background-color: ${buttonColor}'" style="background-color:#FF8E00; padding: 13px 35px 13px 35px; border-radius: 5px; text-align: center">
                                        <a th:href="${auth-email-link}" target="_blank" style="font-size: 1.2em; font-weight: normal; color: #ffffff; text-decoration: none; cursor: pointer;">이동하기</a>
                                    </div>
                                </div>
                                <div style="margin-top: 30px;"><span style="font-size: 1em; color: #999999;">또는 아래 링크를 복사해 브라우저에 붙여 넣으세요</span></div>
                                <div style="margin-top: 5px;">
                                    <a th:href="${auth-email-link}" target="_blank" style="color:#999999">https://koliving.com</a><br/><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
